/* blocks */

/* Hero */

.hero-block {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  padding: 15rem 2rem 8rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  justify-content: center;
}

.hero__title {
  color: var(--color-secondary);
  font-size: 2.5rem;
  font-weight: 400;
}

.hero__heading {
  color: var(--color-secondary);
  margin: 0;
  width: 100%;
}

.hero__description {
  border: 5px solid #fff;
  color: var(--color-body-text);
  background-color: rgba(247, 247, 247, 1);
  font-size: 1.6rem;
  margin: 0;
  padding: 1.5rem;
}

.hero__date {
  color: var(--color-heading);
  font-family: var(--font-familly-cocogoose);
  font-weight: 700;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero-block {
    background-size: cover;
    padding: 10rem 45rem 20rem 21rem;
  }

  .hero__heading {
    font-size: 5.5rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__description {
    min-width: 606.438px;
    width: 55%;
    font-size: 2.3rem;
  }
}


/* Main Program */

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  padding: 2rem;
  gap: 3rem;
}

.main-program__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-program__title {
  font-size: 2.3rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-accent);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.red-line {
  width: 70px;
  height: 2px;
  border-bottom: 2px solid var(--color-secondary);
}

.sub-progran__name {
  color: var(--color-secondary);
}

.sub-progran__description {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .main-program {
    gap: 4rem;
    padding: 4rem 21rem;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
  }

  .sub-progran__description {
    width: 100%;
    font-size: 2.5rem;
    line-height: 1.7;
  }
}

/* Featured Teachers */

.featured-section {
  width: 100%;
  padding: 5rem 2rem;
}

.featured-section__body {
  padding: 4rem 0;
}

.featured-section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.featured-section__title {
  font-family: 'Lato', sans-serif;
  color: var(--color-body-text);
  font-size: 2.8rem;
}

.speaker-container {
  display: flex;
  gap: 1em;
  padding: 2rem 1rem;
  width: 100%;
}

.speaker-container__img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 0 0 2rem;
  background-image: url(../img/checkerboard-squares-black-white.jpg);
  background-size: 40%;
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
}

.speaker-container__img img {
  width: 130px;
  height: 130px;
}

.speaker {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.3rem;
}

.speaker__info {
  color: var(--color-secondary);
  font-size: 1.4rem;
}

.gray-line {
  width: 30px;
  height: 2px;
  background-color: var(--color-accent);
}

.speaker__description {
  flex: 1;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .featured-section__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 4%;
    justify-items: stretch;
    align-items: stretch;
    padding: 7rem 15rem;
  }

  .speaker-container__img {
    background-image: url(../img/checkerboard-squares-black-white.jpg);
  }
}
