*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #272a31;
  --color-secondary: #ec5242;
  --color-accent: #d3d3d3;
  --color-heading: #141414;
  --color-body-text: #575757;
  --font-familly-cocogoose:'cocogoose', sans-serif;
  /* --color-border: #ccc;
  --border-radius: 30px; */
}

/* display: none items */

.hidden {
  display: none;
}

/* Typography */

html {
  font-size: 63.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2.2rem;
  color: var(--color-body-text);
  line-height: 1.5;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  font-family: var(--font-familly-cocogoose);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

/* list */

.list {
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--color-primary);
  letter-spacing: 0.5px;
  padding-left: 0;
  font-size: 2rem;
  font-weight: 600;
}

.active-item {
  border: none;
}

@media screen and (min-width: 768px) {
  .list--tick .list__item {
    margin-left: 0;
  }

  .active-item {
    border: 6px solid var(--color-secondary);
    padding: 1rem 1.7rem !important;
    transition: all 0.6s ease;
  }

  .active-item:hover {
    background-color: var(--color-secondary);
  }
}

/* Icons */

.icon {
  width: 50px;
  height: 50px;
}

.icon-primary {
  fill: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .icon {
    width: 90px;
    height: 60px;
  }
}

/* Buttons */

.btn {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  font-size: 2.8rem;
  font-weight: 500;
  margin: 1rem 0;
  padding: 2.2rem 4rem;
  text-align: center;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-secondary);
  color: #fff;
  transition: color 0.3s ease;
}

.btn--primary:hover {
  background-color: #fd1d04;
  color: #fff;
}

.btn-block {
  width: 75%;
}

.btn-text {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 2rem;
  }
  
  .btn-block {
    display: none;
  }

  .btn-text {
    display: inline;
    color: var(--color-accent);
    font-size: 2.2rem;
    font-weight: 600;
    padding: 0;
    border-bottom: 2px solid var(--color-accent);
  }
}

/* Navigation Bar */

.header-nav {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  position: absolute;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item > a {
  color: var(--color-primary);
  transition: color 0.4s;
}

.nav__item > a:hover {
  color: var(--color-secondary);
}

.active-item a:hover {
  color: var(--color-accent);
}

.nav__toggler {
  display: flex;
  flex-direction: column;
}

.toggler-bar {
  display: inline-block;
  width: 45px;
  height: 6px;
  background-color: var(--color-body-text);
  margin: 6px;
}

.collapsible {
  position: absolute;
  width: 100%;
  height: 100%;
}

.collapsible__content {
  display: none;
}

.collapsible--expanded .collapsible__content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem ;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--color-body-text);
  }
  
  .header-nav__list {
    margin: 0;
    padding: 1.5rem 18rem;
    display: flex;
    justify-content: flex-end;
    min-width: 983px;
  }

  .header-nav__item {
    padding: 0 2rem;
  }

  .header-nav__item > a {
    font-weight: 600;
    color: var(--color-accent);
  } 

  .fa-facebook-f {
    display: inline;
  }

  .nav {
    background-color: #f5f5f5;
    position: relative;
    padding: 1rem 20rem;
    box-shadow: 0 5px 10px -10px rgb(180, 179, 179);
  }

  .brand-icon {
    display: inline-block;
  }

  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
  }

  .nav__item {
    padding: 0 3.5rem;
  }
}

/* blocks */
/* Hero */

.hero-block {
  background-image: url(/img/header.png);
  background-repeat: no-repeat;
  padding: 15rem 2rem 8rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  justify-content: center;
}

.hero__title {
  color: var(--color-secondary);
  font-size: 2.5rem;
  font-weight: 400;
}

.hero__heading {
  color: var(--color-secondary);
  margin: 0;
  width: 100%;
}

.hero__description {
  border: 5px solid #fff;
  color: var(--color-body-text);
  background-color: rgba(247, 247, 247, 1);
  font-size: 1.6rem;
  margin: 0;
  padding: 1.5rem;
}

.hero__date {
  color: var(--color-heading);
  font-family: var(--font-familly-cocogoose);
  font-weight: 700;
  margin: 0;
}

@media screen and (min-width: 768px) {
  
  .hero-block {
    background-size: cover; 
    padding: 10rem 45rem 20rem 21rem;
  }

  .hero__heading {
    font-size: 5.5rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__description {
    min-width: 606.438px;
    width: 55%;
    font-size: 2.3rem;
  }
}

/* cards */

.card {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  text-align: center;
  transition: all 0.4s ease-in-out;
  width: 100%;
}

.card:hover {
  border: 4px solid var(--color-accent);
  transform: scale(1.05);
}

.card--primar {
  background-color: #535761;
}

@media screen and (min-width: 768px) {
  .card {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3rem;
    gap: 1.4rem;
  } 
}

/* Main Program */

.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary);
  padding: 2rem;
  gap: 3rem;
}

.main-program__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-program__title {
  font-size: 2.3rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-accent);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.red-line {
  width: 70px;
  height: 2px;
  border-bottom: 2px solid var(--color-secondary);
}

.sub-progran__name {
  color: var(--color-secondary);
}

.sub-progran__description {
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
  width: 50%;
}

@media screen and (min-width: 768px) {  

  .main-program {
    gap: 4rem;
    padding: 4rem 21rem;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
  }
  .sub-progran__description {
    width: 100%;
    font-size: 2.5rem;
    line-height: 1.7;
  }
}