<div class="card container">
  <header class="card__header">
    <span><img class="icon" alt="" /></span>
    <h3 class="sub-progran__name">Program</h3>
  </header>
  <div class="card__body">
    <p class="sub-progran__description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere eum,
      dolores ducimus, id veniam minima expedita obcaecati nesciunt aperiam
      tempora ipsam at neque voluptates ullam odio. Eaque dolorem reiciendis
      minima!
    </p>
  </div>
</div>
