<header>
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a href=""
          ><a href=""><i class="fa-brands fa-facebook-f"></i></a
        ></a>
      </li>
      <li class="header-nav__item">
        <a href=""
          ><a href=""><i class="fa-brands fa-twitter"></i></a
        ></a>
      </li>
      <li class="header-nav__item"><a href="">English</a></li>
      <li class="header-nav__item"><a href="">My page</a></li>
      <li class="header-nav__item"><a href="">My page</a></li>
    </ul>
  </nav>
  <nav class="nav">
    <a href="/index.html" class="icon brand-icon">
      <svg class="icon">
        <use xlink:href="./img/sprite.svg#remote-work"></use>
      </svg>
    </a>
    <div class="nav__toggler">
      <span class="toggler-bar first-bar"></span>
      <span class="toggler-bar second-bar"></span>
      <span class="toggler-bar third-bar"></span>
    </div>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Programs</a></li>
      <li class="nav__item active-item"><a href="#">Cantact Us</a></li>
    </ul>
  </nav>
</header>
